button{
  border-width: 1px;
  border-color: black;
}

.header{
  background-color: #ab2a19;
  height: 10vh;
}

.navButt{
  background-color: #ed6b5a;
  margin:3px
}
.productBox{
  display: flex;
  margin:auto;
  margin-top: 20px;
  padding: 5px;
  height: 200px;
  width: 300px;
  background-color: #d34735;
  border-radius: 5px;
}
.formBox{
  background-color: #3ad886;
  margin:auto;
  margin-top: 20px;
  padding: 5px;
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
.editButt{
  background-color: #ed6b5a;
  margin:3px
}
.productButt{
  background-color: #3ad886;
  margin:3px
}